/* (Optional) This is added to prevent the flashing that happens when toggling between palettes */
ion-item {
  --transition: none;
}

.setting-icon {
  font-size: 20px;
  margin-right: 8px;
  vertical-align: middle;
  color: var(--ion-color-primary);
}

ion-input {
    text-align: right;
    max-width: 90px;
}