<ion-header>
  <ion-toolbar>
    <ion-title>Game History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngFor="let game of games" class="game-card">
    <h3>{{ game.player_name }}</h3>
    <p>Peli ID: {{ game.id }}</p>
    <p>Päivä: {{ game.created_at }}</p>
    <table class="yatzy-table">

      <tr>
        <th>Yhdistelmä</th>
        <th>Pisteet</th>
      </tr>

      <tr *ngFor="let key of (game.scores | keyvalue)">
        <td>{{ key.key }}</td>
        <td>{{ key.value }}</td>
      </tr>

      <tr class="total-row">
        <td><b>TOTAL</b></td>
        <td><b>{{ game.total_score }}</b></td>
      </tr>

    </table>
  </div>
</ion-content>